@font-face {
    font-family: sf-bold;
    src: url('/assets/font/SF-Pro-Display-Bold.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: sf-medium;
    src: url('/assets/font/SF-Pro-Display-Medium.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: sf-regular;
    src: url('/assets/font/SF-Pro-Display-Regular.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: sf-semibold;
    src: url('/assets/font/SF-Pro-Display-Semibold.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: sf-light;
    src: url('/assets/font/SFProDisplay-Light.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: fu-medium;
    src: url('/assets/font/FuturaStdMedium.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: fu-bold;
    src: url('/assets/font/FuturaStdBold.otf');
    font-weight: normal;
    font-style: normal;
  }
  